LAB1/LAB1_flow.json
[{"id":"65eadd6f.512f34","type":"tab","label":"ai2_lab1_httpPost","disabled":false,"info":""},{"id":"b608d920.851008","type":"http in","z":"65eadd6f.512f34","name":"","url":"/Hello","method":"post","upload":false,"swaggerDoc":"","x":140,"y":280,"wires":[["ccd83471.0a3cb8"]]},{"id":"ccd83471.0a3cb8","type":"function","z":"65eadd6f.512f34","name":"","func":"\nmsg.payload = \"Hello \" +  msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":280,"wires":[["1f5aa8b0.f5c717","73ed860c.8c93e8"]]},{"id":"73ed860c.8c93e8","type":"http response","z":"65eadd6f.512f34","name":"response name","statusCode":"","headers":{},"x":540,"y":320,"wires":[]},{"id":"1f5aa8b0.f5c717","type":"debug","z":"65eadd6f.512f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":240,"wires":[]}]