LAB4/LAB4_NA with Node-red.json
[{"id":"92a15a95.00c058","type":"tab","label":"NetworkApplication_ai2","disabled":false,"info":""},{"id":"3e448b10.bbae74","type":"inject","z":"92a15a95.00c058","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["a9e20179.d6063"]]},{"id":"a9e20179.d6063","type":"oM2M-Application","z":"92a15a95.00c058","xSCL":"2ca5f6ee.d9c2ba","xA":"32b059a.218b0a6","obixType":"Network Application","obixCategory":"demo","obixLocation":"Internet Cloud","obixAnnounce":false,"x":320,"y":260,"wires":[["7909afdd.e5d2f"]]},{"id":"7909afdd.e5d2f","type":"http request","z":"92a15a95.00c058","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":570,"y":260,"wires":[["9f17daa0.5920c8"]]},{"id":"9f17daa0.5920c8","type":"debug","z":"92a15a95.00c058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"378915a3.f69e7a","type":"inject","z":"92a15a95.00c058","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["191ad201.169b2e"]]},{"id":"4e3729ce.052e38","type":"http request","z":"92a15a95.00c058","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LOCATION_GATEWAY_APPLICATION/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":570,"y":360,"wires":[["573a2c5d.b11fc4"]]},{"id":"573a2c5d.b11fc4","type":"debug","z":"92a15a95.00c058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":360,"wires":[]},{"id":"191ad201.169b2e","type":"oM2M-Subscription","z":"92a15a95.00c058","xSCL":"2ca5f6ee.d9c2ba","xA":"32b059a.218b0a6","contactPath":"/notification","filterType":"","filterCriteria":"content","x":320,"y":360,"wires":[["4e3729ce.052e38"]]},{"id":"54782635.5d86c8","type":"http in","z":"92a15a95.00c058","name":"Listen to HTTP Post notifications","url":"/notification","method":"post","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[["453d1611.7a4be8","3ffa045e.3e7f8c"]]},{"id":"453d1611.7a4be8","type":"xml","z":"92a15a95.00c058","name":"","property":"payload","attr":"","chr":"","x":430,"y":540,"wires":[["bfa25f8b.0b3ef"]]},{"id":"3ffa045e.3e7f8c","type":"http response","z":"92a15a95.00c058","name":"","statusCode":"","headers":{},"x":430,"y":700,"wires":[]},{"id":"bfa25f8b.0b3ef","type":"function","z":"92a15a95.00c058","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj= new Buffer(text, 'base64').toString('ascii');\nmsg.payload= dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":540,"wires":[["bd597256.38c53","28006951.88e496"]]},{"id":"28006951.88e496","type":"file","z":"92a15a95.00c058","name":"","filename":"D:\\OM2M-0.8.0\\notification.xml","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":620,"wires":[[]]},{"id":"bd597256.38c53","type":"debug","z":"92a15a95.00c058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":540,"wires":[]},{"id":"4c7f63b2.ffe4fc","type":"http in","z":"92a15a95.00c058","name":"","url":"/getxml","method":"get","upload":false,"swaggerDoc":"","x":120,"y":820,"wires":[["9b0093d9.ce53c"]]},{"id":"3bcb6196.9e467e","type":"xml","z":"92a15a95.00c058","name":"","property":"payload","attr":"","chr":"","x":670,"y":820,"wires":[["2edd145.49f8bec"]]},{"id":"9b0093d9.ce53c","type":"file in","z":"92a15a95.00c058","name":"","filename":"D:\\OM2M-0.8.0\\notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":820,"wires":[["3bcb6196.9e467e"]]},{"id":"2edd145.49f8bec","type":"http response","z":"92a15a95.00c058","name":"","statusCode":"","headers":{},"x":890,"y":820,"wires":[]},{"id":"b88ec8b1.5b5618","type":"http in","z":"92a15a95.00c058","name":"HTTP GET","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":100,"y":960,"wires":[["24a27b3a.63be74"]]},{"id":"24a27b3a.63be74","type":"file in","z":"92a15a95.00c058","name":"","filename":"D:\\OM2M-0.8.0\\notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":960,"wires":[["96ae6315.fdb4a"]]},{"id":"96ae6315.fdb4a","type":"xml","z":"92a15a95.00c058","name":"","property":"payload","attr":"","chr":"","x":670,"y":960,"wires":[["fda5448f.82d078"]]},{"id":"fda5448f.82d078","type":"json","z":"92a15a95.00c058","name":"","property":"payload","action":"","pretty":false,"x":830,"y":960,"wires":[["6fb1e21d.70ad8c"]]},{"id":"6fb1e21d.70ad8c","type":"function","z":"92a15a95.00c058","name":"Parse XML JSON","func":"var data = JSON.parse(msg.payload);\nvar object1 = data.obj;\nvar string1 = object1.str;\n\nvar tres = string1[3];\nvar tres_$ = tres.$;\nvar latitude = tres_$.val;\n\nvar cuatro = string1[4];\nvar cuatro_$ = cuatro.$;\nvar longitude = cuatro_$.val;\n\nmsg.payload= {  \"latitude\":latitude,\n                \"longitude\": longitude\n};\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":960,"wires":[["81c1dae4.a82fe8","d2d5bc7.acfae4"]]},{"id":"81c1dae4.a82fe8","type":"http response","z":"92a15a95.00c058","name":"","statusCode":"","headers":{},"x":1210,"y":960,"wires":[]},{"id":"d2d5bc7.acfae4","type":"debug","z":"92a15a95.00c058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":1060,"wires":[]},{"id":"2ca5f6ee.d9c2ba","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"32b059a.218b0a6","type":"xA","z":"","appId":"LOCATION_NETWORK_APPLICATION","contactUrl":"localhost:1880"}]