LAB4/LAB4_GA with Node-red.json
[{"id":"4800d0aa.dc086","type":"tab","label":"GatewayApplication_ai2","disabled":false,"info":""},{"id":"594b0f88.243a9","type":"inject","z":"4800d0aa.dc086","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["100ff16.7ccad0f"]]},{"id":"100ff16.7ccad0f","type":"oM2M-Application","z":"4800d0aa.dc086","xSCL":"ca788fa.9104a7","xA":"50a9169.72541e8","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":410,"y":320,"wires":[["9b208987.3b89d8"]]},{"id":"9b208987.3b89d8","type":"http request","z":"4800d0aa.dc086","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":320,"wires":[["13f67314.989aed"]]},{"id":"13f67314.989aed","type":"debug","z":"4800d0aa.dc086","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":320,"wires":[]},{"id":"5c4e13a9.d50c8c","type":"inject","z":"4800d0aa.dc086","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["adebc8b.c319338"]]},{"id":"adebc8b.c319338","type":"oM2M-Descriptor-Container","z":"4800d0aa.dc086","xSCL":"ca788fa.9104a7","xA":"50a9169.72541e8","x":400,"y":460,"wires":[["700349d0.f7c488"]]},{"id":"dfdadf12.b4dc1","type":"inject","z":"4800d0aa.dc086","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":580,"wires":[["47ea3926.9475d8"]]},{"id":"47ea3926.9475d8","type":"oM2M-Descriptor-ContentInstance","z":"4800d0aa.dc086","xSCL":"ca788fa.9104a7","xA":"50a9169.72541e8","obixType":"Location","obixLocation":"NCKU","x":400,"y":580,"wires":[["76ccd682.d4ae58"]]},{"id":"700349d0.f7c488","type":"http request","z":"4800d0aa.dc086","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":460,"wires":[["4812d29e.728a8c"]]},{"id":"76ccd682.d4ae58","type":"http request","z":"4800d0aa.dc086","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":580,"wires":[["6c32eaa6.6db094"]]},{"id":"4812d29e.728a8c","type":"debug","z":"4800d0aa.dc086","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":460,"wires":[]},{"id":"6c32eaa6.6db094","type":"debug","z":"4800d0aa.dc086","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":580,"wires":[]},{"id":"41fe44cc.7adfac","type":"oM2M-Data-Container","z":"4800d0aa.dc086","xSCL":"ca788fa.9104a7","xA":"50a9169.72541e8","maxNrOfInstances":"1000","obixAnnounce":false,"x":400,"y":680,"wires":[["dc47544f.a90128"]]},{"id":"ba7bc92f.b46798","type":"oM2M-Data-ContentInstance","z":"4800d0aa.dc086","xSCL":"ca788fa.9104a7","xA":"50a9169.72541e8","obixCategory":"Test","x":520,"y":780,"wires":[["cbb5c35b.47246"]]},{"id":"dc47544f.a90128","type":"http request","z":"4800d0aa.dc086","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":680,"wires":[["2e2d42f.03cbebe"]]},{"id":"cbb5c35b.47246","type":"http request","z":"4800d0aa.dc086","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":730,"y":780,"wires":[["c73631cc.b9c8b"]]},{"id":"18f5a2d.f9fe85d","type":"inject","z":"4800d0aa.dc086","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":680,"wires":[["41fe44cc.7adfac"]]},{"id":"f3a1e673.429248","type":"inject","z":"4800d0aa.dc086","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":780,"wires":[["d2d7b842.2022a8"]]},{"id":"d2d7b842.2022a8","type":"function","z":"4800d0aa.dc086","name":"My Data","func":"var data = {\n    type:'gps',\n    unit:'float',\n    latitude:'1',\n    longitude:'2'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":780,"wires":[["ba7bc92f.b46798"]]},{"id":"c73631cc.b9c8b","type":"debug","z":"4800d0aa.dc086","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":780,"wires":[]},{"id":"2e2d42f.03cbebe","type":"debug","z":"4800d0aa.dc086","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":680,"wires":[]},{"id":"5717782.466f988","type":"http in","z":"4800d0aa.dc086","name":"PostSensorData","url":"/locationData","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1100,"wires":[["330806f0.08bf6a","41e4b08d.ac3d2"]]},{"id":"41e4b08d.ac3d2","type":"http response","z":"4800d0aa.dc086","name":"","statusCode":"","headers":{},"x":350,"y":1220,"wires":[]},{"id":"330806f0.08bf6a","type":"function","z":"4800d0aa.dc086","name":"InputData","func":"var data = {\n    type:'gps',\n    unit:'float',\n    latitude:msg.payload.latitude,\n    longitude:msg.payload.longitude\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1100,"wires":[["13273ac4.844475"]]},{"id":"13273ac4.844475","type":"oM2M-Data-ContentInstance","z":"4800d0aa.dc086","xSCL":"ca788fa.9104a7","xA":"50a9169.72541e8","obixCategory":"Test","x":580,"y":1100,"wires":[["5ce912fa.2f946c"]]},{"id":"5ce912fa.2f946c","type":"http request","z":"4800d0aa.dc086","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":820,"y":1100,"wires":[["4fcf5400.b2e83c"]]},{"id":"4fcf5400.b2e83c","type":"debug","z":"4800d0aa.dc086","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":1100,"wires":[]},{"id":"ca788fa.9104a7","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"50a9169.72541e8","type":"xA","z":"","appId":"LOCATION_GATEWAY_APPLICATION","contactUrl":"localhost:1880"}]