LAB5/LAB5.json
[{"id":"158b560f.d4359a","type":"tab","label":"om2m_LAMP","disabled":false,"info":""},{"id":"32eafb40.658414","type":"http in","z":"158b560f.d4359a","name":"","url":"/LAB5","method":"post","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["aa96d1e5.f07f8","e1050d0d.6ed3d"]]},{"id":"aa96d1e5.f07f8","type":"switch","z":"158b560f.d4359a","name":"","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"LAMP0_open","vt":"str"},{"t":"eq","v":"LAMP0_close","vt":"str"},{"t":"eq","v":"LAMP1_open","vt":"str"},{"t":"eq","v":"LAMP1_close","vt":"str"},{"t":"eq","v":"LAMPALL_open","vt":"str"},{"t":"eq","v":"LAMPALL_close","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":370,"y":180,"wires":[["cb4335d8.4b6b68"],["4fe5d4c3.7f6d0c"],["149cbba7.989f14"],["7c04d64f.7f2448"],["1dd64d3.889d6b3"],["ede01520.855288"]]},{"id":"c1b0e55.f4ac618","type":"http request","z":"158b560f.d4359a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/lamps/true","tls":"","proxy":"","authType":"basic","x":790,"y":80,"wires":[["345772.063b788e"]]},{"id":"a924f532.a2f6f8","type":"http request","z":"158b560f.d4359a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/lamps/false","tls":"","proxy":"","authType":"basic","x":790,"y":120,"wires":[["345772.063b788e"]]},{"id":"bb2d414d.6ddb1","type":"http request","z":"158b560f.d4359a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps/true","tls":"","proxy":"","authType":"basic","x":790,"y":160,"wires":[["345772.063b788e"]]},{"id":"e91c89f6.414cb8","type":"http request","z":"158b560f.d4359a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps/false","tls":"","proxy":"","authType":"basic","x":790,"y":200,"wires":[["345772.063b788e"]]},{"id":"71e9a648.3ea608","type":"http request","z":"158b560f.d4359a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/groups/ON_ALL/membersContent","tls":"","proxy":"","authType":"basic","x":790,"y":240,"wires":[["345772.063b788e"]]},{"id":"60c2c8a5.bc09f8","type":"http request","z":"158b560f.d4359a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/groups/OFF_ALL/membersContent","tls":"","proxy":"","authType":"basic","x":790,"y":280,"wires":[["345772.063b788e"]]},{"id":"345772.063b788e","type":"debug","z":"158b560f.d4359a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":180,"wires":[]},{"id":"cb4335d8.4b6b68","type":"function","z":"158b560f.d4359a","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["c1b0e55.f4ac618"]]},{"id":"4fe5d4c3.7f6d0c","type":"function","z":"158b560f.d4359a","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["a924f532.a2f6f8"]]},{"id":"149cbba7.989f14","type":"function","z":"158b560f.d4359a","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["bb2d414d.6ddb1"]]},{"id":"7c04d64f.7f2448","type":"function","z":"158b560f.d4359a","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["e91c89f6.414cb8"]]},{"id":"1dd64d3.889d6b3","type":"function","z":"158b560f.d4359a","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["71e9a648.3ea608"]]},{"id":"ede01520.855288","type":"function","z":"158b560f.d4359a","name":"","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["60c2c8a5.bc09f8"]]},{"id":"e1050d0d.6ed3d","type":"http response","z":"158b560f.d4359a","name":"","statusCode":"","headers":{},"x":370,"y":60,"wires":[]},{"id":"64b05248.cb887c","type":"inject","z":"158b560f.d4359a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":440,"wires":[["2d0814dd.bbd97c"]]},{"id":"2d0814dd.bbd97c","type":"template","z":"158b560f.d4359a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<om2m:subscription xmlns:om2m=\"http://uri.etsi.org/m2m\">\n<om2m:filterCriteria>\n<ifMatch>content</ifMatch>\n</om2m:filterCriteria>\n<om2m:contact>http://127.0.0.1:1880/LAB5_sub</om2m:contact>\n</om2m:subscription>","output":"str","x":380,"y":440,"wires":[["a0c226ec.4341e8","432a9a56.0f0d24"]]},{"id":"a0c226ec.4341e8","type":"http request","z":"158b560f.d4359a","name":"LAMP_0","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":580,"y":400,"wires":[["4621b4b7.1ad8fc"]]},{"id":"432a9a56.0f0d24","type":"http request","z":"158b560f.d4359a","name":"LAMP_1","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":580,"y":480,"wires":[["4621b4b7.1ad8fc"]]},{"id":"4621b4b7.1ad8fc","type":"debug","z":"158b560f.d4359a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":440,"wires":[]},{"id":"8a976373.f5a72","type":"http in","z":"158b560f.d4359a","name":"","url":"/LAB5_sub","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1380,"wires":[["c219c966.958dc8","aecdd207.7fa35"]]},{"id":"aecdd207.7fa35","type":"xml","z":"158b560f.d4359a","name":"","property":"payload","attr":"","chr":"","x":350,"y":1380,"wires":[["4ef7d6d6.3a2948"]]},{"id":"c219c966.958dc8","type":"http response","z":"158b560f.d4359a","name":"","statusCode":"","headers":{},"x":350,"y":1320,"wires":[]},{"id":"3cb43eb5.308e22","type":"debug","z":"158b560f.d4359a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":1380,"wires":[]},{"id":"4ef7d6d6.3a2948","type":"function","z":"158b560f.d4359a","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj= new Buffer(text, 'base64').toString('ascii');\nmsg.payload= dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1380,"wires":[["605ac982.ad9f98"]]},{"id":"d995dedd.7f74c","type":"file","z":"158b560f.d4359a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1210,"y":1400,"wires":[[]]},{"id":"c689bad8.5833b8","type":"function","z":"158b560f.d4359a","name":"","func":"var json = msg.payload.obj.str[2].$.val;\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1380,"wires":[["3cb43eb5.308e22"]]},{"id":"605ac982.ad9f98","type":"xml","z":"158b560f.d4359a","name":"","property":"payload","attr":"","chr":"","x":770,"y":1380,"wires":[["c689bad8.5833b8"]]},{"id":"351fbac3.3057e6","type":"http in","z":"158b560f.d4359a","name":"","url":"/LAB5_lamp0","method":"get","upload":false,"swaggerDoc":"","x":150,"y":620,"wires":[["4c4a9e15.e79f8"]]},{"id":"f43338a0.b679f8","type":"http in","z":"158b560f.d4359a","name":"","url":"/LAB5_lamp1","method":"get","upload":false,"swaggerDoc":"","x":150,"y":700,"wires":[["1a0f46f1.1df4c9"]]},{"id":"4c4a9e15.e79f8","type":"http request","z":"158b560f.d4359a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/lamps","tls":"","proxy":"","authType":"basic","x":370,"y":620,"wires":[["9a5c0b33.767788"]]},{"id":"1a0f46f1.1df4c9","type":"http request","z":"158b560f.d4359a","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps","tls":"","proxy":"","authType":"basic","x":370,"y":700,"wires":[["d5130b4e.40d028"]]},{"id":"2c11f83f.a53da8","type":"debug","z":"158b560f.d4359a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":560,"wires":[]},{"id":"5ff6035d.bad24c","type":"debug","z":"158b560f.d4359a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":760,"wires":[]},{"id":"9a5c0b33.767788","type":"xml","z":"158b560f.d4359a","name":"","property":"payload","attr":"","chr":"","x":570,"y":620,"wires":[["786a2474.50f6fc"]]},{"id":"786a2474.50f6fc","type":"function","z":"158b560f.d4359a","name":"","func":"msg.payload = msg.payload.obj.bool[0].$.val\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":620,"wires":[["d9c665d8.993ed8","2c11f83f.a53da8"]]},{"id":"da42b5.514c1d48","type":"function","z":"158b560f.d4359a","name":"","func":"msg.payload = msg.payload.obj.bool[0].$.val\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":700,"wires":[["d98ac194.e434c","5ff6035d.bad24c"]]},{"id":"d5130b4e.40d028","type":"xml","z":"158b560f.d4359a","name":"","property":"payload","attr":"","chr":"","x":570,"y":700,"wires":[["da42b5.514c1d48"]]},{"id":"d9c665d8.993ed8","type":"http response","z":"158b560f.d4359a","name":"response name","statusCode":"","headers":{},"x":980,"y":620,"wires":[]},{"id":"d98ac194.e434c","type":"http response","z":"158b560f.d4359a","name":"response name","statusCode":"","headers":{},"x":980,"y":700,"wires":[]}]