LAB3/LAB3_OM2M_NA.json
[{"id":"3916708c.8b972","type":"tab","label":"om2m-network-app","disabled":false,"info":""},{"id":"925eb6a6.238658","type":"inject","z":"3916708c.8b972","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["9097141d.94a838"]]},{"id":"9097141d.94a838","type":"oM2M-Application","z":"3916708c.8b972","xSCL":"2ca5f6ee.d9c2ba","xA":"f23dcd91.8738b","obixType":"Network Application","obixCategory":"demo","obixLocation":"Internet Cloud","obixAnnounce":false,"x":320,"y":260,"wires":[["1c858d5c.9d21b3"]]},{"id":"1c858d5c.9d21b3","type":"http request","z":"3916708c.8b972","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":570,"y":260,"wires":[["d0a6fddc.0a51c"]]},{"id":"d0a6fddc.0a51c","type":"debug","z":"3916708c.8b972","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"e60b2645.24b068","type":"inject","z":"3916708c.8b972","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["69738798.3802f8"]]},{"id":"f67b123a.9c5c7","type":"http request","z":"3916708c.8b972","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","proxy":"","authType":"basic","x":570,"y":360,"wires":[["7646c11a.92c27"]]},{"id":"7646c11a.92c27","type":"debug","z":"3916708c.8b972","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":360,"wires":[]},{"id":"69738798.3802f8","type":"oM2M-Subscription","z":"3916708c.8b972","xSCL":"2ca5f6ee.d9c2ba","xA":"f23dcd91.8738b","contactPath":"/notification","filterType":"","filterCriteria":"content","x":320,"y":360,"wires":[["f67b123a.9c5c7"]]},{"id":"971cb797.dbe058","type":"http in","z":"3916708c.8b972","name":"Listen to HTTP Post notifications","url":"/notification","method":"post","upload":false,"swaggerDoc":"","x":160,"y":540,"wires":[["af25963f.6c7b68","86bbfebb.8b4b3"]]},{"id":"af25963f.6c7b68","type":"xml","z":"3916708c.8b972","name":"","property":"payload","attr":"","chr":"","x":430,"y":540,"wires":[["68ef1335.1e35ac"]]},{"id":"86bbfebb.8b4b3","type":"http response","z":"3916708c.8b972","name":"","statusCode":"","headers":{},"x":430,"y":700,"wires":[]},{"id":"68ef1335.1e35ac","type":"function","z":"3916708c.8b972","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj= new Buffer(text, 'base64').toString('ascii');\nmsg.payload= dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":540,"wires":[["dc26c099.778ac","1e42529c.c0a37d"]]},{"id":"1e42529c.c0a37d","type":"file","z":"3916708c.8b972","name":"","filename":"D:\\OM2M-0.8.0\\notification.xml","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":910,"y":620,"wires":[[]]},{"id":"dc26c099.778ac","type":"debug","z":"3916708c.8b972","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":540,"wires":[]},{"id":"2799271b.4f68a8","type":"http in","z":"3916708c.8b972","name":"","url":"/getxml","method":"get","upload":false,"swaggerDoc":"","x":120,"y":820,"wires":[["3e54f66a.5978ca"]]},{"id":"d506f28.a48491","type":"xml","z":"3916708c.8b972","name":"","property":"payload","attr":"","chr":"","x":670,"y":820,"wires":[["11964d13.b62073"]]},{"id":"3e54f66a.5978ca","type":"file in","z":"3916708c.8b972","name":"","filename":"D:\\OM2M-0.8.0\\notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":410,"y":820,"wires":[["d506f28.a48491"]]},{"id":"11964d13.b62073","type":"http response","z":"3916708c.8b972","name":"","statusCode":"","headers":{},"x":890,"y":820,"wires":[]},{"id":"2ca5f6ee.d9c2ba","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"f23dcd91.8738b","type":"xA","z":"","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880"}]