LAB3/LAB3_OM2M_GA.json
[{"id":"9cbbca30.f281b8","type":"tab","label":"om2m-gateway-app","disabled":false,"info":""},{"id":"b064fdc0.89576","type":"inject","z":"9cbbca30.f281b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["9b436bcc.656248"]]},{"id":"9b436bcc.656248","type":"oM2M-Application","z":"9cbbca30.f281b8","xSCL":"ca788fa.9104a7","xA":"ef4e6d9f.b9a6f","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":410,"y":320,"wires":[["8d4afe6e.700a6"]]},{"id":"8d4afe6e.700a6","type":"http request","z":"9cbbca30.f281b8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":320,"wires":[["5393ea1b.41f604"]]},{"id":"5393ea1b.41f604","type":"debug","z":"9cbbca30.f281b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":320,"wires":[]},{"id":"f7a1395b.156c88","type":"inject","z":"9cbbca30.f281b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["eaf00804.fdc0d8"]]},{"id":"eaf00804.fdc0d8","type":"oM2M-Descriptor-Container","z":"9cbbca30.f281b8","xSCL":"ca788fa.9104a7","xA":"ef4e6d9f.b9a6f","x":400,"y":460,"wires":[["341dc41e.ea6e2c"]]},{"id":"2686d4a7.a9e30c","type":"inject","z":"9cbbca30.f281b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":580,"wires":[["2a4e24fe.0d9d4c"]]},{"id":"2a4e24fe.0d9d4c","type":"oM2M-Descriptor-ContentInstance","z":"9cbbca30.f281b8","xSCL":"ca788fa.9104a7","xA":"ef4e6d9f.b9a6f","obixType":"Temperature","obixLocation":"NCKU","x":400,"y":580,"wires":[["357e3ea2.0c1b12"]]},{"id":"341dc41e.ea6e2c","type":"http request","z":"9cbbca30.f281b8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":460,"wires":[["c2022f4d.bc4c7"]]},{"id":"357e3ea2.0c1b12","type":"http request","z":"9cbbca30.f281b8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":580,"wires":[["384426c9.40b26a"]]},{"id":"c2022f4d.bc4c7","type":"debug","z":"9cbbca30.f281b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":460,"wires":[]},{"id":"384426c9.40b26a","type":"debug","z":"9cbbca30.f281b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":580,"wires":[]},{"id":"cc5a6322.8b0d","type":"oM2M-Data-Container","z":"9cbbca30.f281b8","xSCL":"ca788fa.9104a7","xA":"ef4e6d9f.b9a6f","maxNrOfInstances":"1000","obixAnnounce":false,"x":400,"y":680,"wires":[["b04b500d.8f62c"]]},{"id":"4e82c2a5.42548c","type":"oM2M-Data-ContentInstance","z":"9cbbca30.f281b8","xSCL":"ca788fa.9104a7","xA":"ef4e6d9f.b9a6f","obixCategory":"Test","x":520,"y":780,"wires":[["9f2e7fb0.a6f87"]]},{"id":"b04b500d.8f62c","type":"http request","z":"9cbbca30.f281b8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":650,"y":680,"wires":[["2eb7ab9a.a5f494"]]},{"id":"9f2e7fb0.a6f87","type":"http request","z":"9cbbca30.f281b8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":730,"y":780,"wires":[["d83c8384.c095"]]},{"id":"318ecab4.9bae06","type":"inject","z":"9cbbca30.f281b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":680,"wires":[["cc5a6322.8b0d"]]},{"id":"525a61fa.a2ace","type":"inject","z":"9cbbca30.f281b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":780,"wires":[["741b81c5.5f8af"]]},{"id":"741b81c5.5f8af","type":"function","z":"9cbbca30.f281b8","name":"My Data","func":"var data = {\n    type:'string',\n    unit:'fake data',\n    data:'Hello World!'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":780,"wires":[["4e82c2a5.42548c"]]},{"id":"d83c8384.c095","type":"debug","z":"9cbbca30.f281b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":780,"wires":[]},{"id":"2eb7ab9a.a5f494","type":"debug","z":"9cbbca30.f281b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":680,"wires":[]},{"id":"3ef9f52c.51459a","type":"http in","z":"9cbbca30.f281b8","name":"PostSensorData","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":120,"y":1100,"wires":[["39e98c71.d23924","73b9047f.b8e43c"]]},{"id":"73b9047f.b8e43c","type":"http response","z":"9cbbca30.f281b8","name":"","statusCode":"","headers":{},"x":350,"y":1220,"wires":[]},{"id":"39e98c71.d23924","type":"function","z":"9cbbca30.f281b8","name":"InputData","func":"var data = {\n    type:'string',\n    unit:'fake data',\n    data:msg.payload.name\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1100,"wires":[["1ddc7489.c87f5b"]]},{"id":"1ddc7489.c87f5b","type":"oM2M-Data-ContentInstance","z":"9cbbca30.f281b8","xSCL":"ca788fa.9104a7","xA":"ef4e6d9f.b9a6f","obixCategory":"Test","x":580,"y":1100,"wires":[["3aa4d3a3.21fc1c"]]},{"id":"3aa4d3a3.21fc1c","type":"http request","z":"9cbbca30.f281b8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":820,"y":1100,"wires":[["a9cacc49.c449c"]]},{"id":"a9cacc49.c449c","type":"debug","z":"9cbbca30.f281b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":1100,"wires":[]},{"id":"ca788fa.9104a7","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"ef4e6d9f.b9a6f","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"}]